@page
@model LoginModel

@{
    ViewData["Title"] = "Login";
}

<h1>@ViewData["Title"]</h1>
<body class="img js-fullheight" style="background-image: url("image/bg.jpg"); height: 624px;" cz-shortcut-listen="true">
    <div class="background">
        <section class="ftco-section">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-6 text-center mb-5">
                        <h2 class="heading-section">Logo</h2>
                    </div>
                </div>

                <div class="row justify-content-center">
                    <div class="col-md-6 col-lg-4">
                        <div class="login-wrap p-0">
                            <h3 class="mb-4 text-center">Você Possui uma conta?</h3>

                            <section>
                                <form id="account" method="post">

                                    <hr />
                                    <div asp-validation-summary="All" class="text-danger"></div>
                                    <div class="form-group">
                                        <label asp-for="Input.Email">Email</label>
                                        <input asp-for="Input.Email" class="form-control" />
                                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Input.Password">Senha</label>
                                        <input asp-for="Input.Password" id="password-field" type="password" class="form-control" placeholder="Senha" required />
                                        <span asp-validation-for="Input.Password" toggle="#password-field" class="fas fa-eye field-icon"></span>
                                    </div>
                                    <div class="form-group d-md-flex">
                                        <div class="checkbox-wrap checkbox-primary">
                                            <label asp-for="Input.RememberMe">
                                                <input type="checkbox" checked asp-for="Input.RememberMe" />
                                                @Html.DisplayNameFor(m => m.Input.RememberMe)
                                                <span class="checkmark"></span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="form-control btn btn-primary submit px-3">Entrar</button>
                                    </div>
                                    <div class="form-group">
                                        <p>
                                            <a id="forgot-password" asp-page="./ForgotPassword">Esqueceu sua senha?</a>
                                        </p>
                                        <p>
                                            <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Cadastrar novo usuário</a>
                                        </p>
                                        <p>
                                            <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Reenviar email de confirmação</a>
                                        </p>
                                    </div>
                                </form>
                            </section>
                        </div>                    
                    </div>
                </div>
            </div>
        </section>
        @section Scripts {
            <partial name="_ValidationScriptsPartial" />
        }

    </div>
</body>
